body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background: linear-gradient(#000046, #3c91a9);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    max-width: 12px; /* Increased from 10px */
    width: 100%;        /* Ensures responsiveness */
    margin: 0 auto;     /* Centers the grid horizontally */
}

.project-card {
    background: aquamarine;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px;
    min-height: 300px;
    text-align: center;
}

.project-card img {
    max-width: 20%;
    border-radius: 8px;
}

.project-card h3 {
    margin-top: 15px;
    color: #333;
}

.project-card p {
    color: black;
}
