*{
    margin: 0;
    padding: 0;
    color: white;
}
#bar{
    height: 60px;
    background-color: black;
}
button{
    background-color: orange;
}
#logo{
    color: orange;
    font-size: 25px;
}
a{
    margin-right: 250px;
    text-decoration: none;
}
.contentbox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
#content{
    height: 700px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}